.show{
    background-image: linear-gradient(to bottom right, rgb(250, 155, 12),white, rgb(238, 162, 22), white, rgb(238, 162, 22), white);
    align-self: auto;
}

h1{
    color: black;
    text-align: center;
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
}

.Mdiv{

    background-image: linear-gradient(to bottom right, black, grey); 
    width: 210px;
    height: 130px;
    text-align: center;
    float: left;
    margin-left: 15px;
    margin-bottom: 10px;
    padding: 9px;
    color: aliceblue;
    opacity: 2;
    
}
